
.createdelivery-profile-page{
    background-color: #ECDCCF;
    display: flex !important;
    flex-direction: row !important; 
    justify-content: center !important;
    flex-wrap: wrap !important;
    padding: 3rem 2rem;
}
.createdelivery-input{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin: auto 2rem;
}

.createdelivery-input-section{
    background-color: #F2F4F8 ;
    border-radius: 10px ;
    width: 30rem !important;
}

.createdelivery-input-textfield{
    width: 30rem;
    margin: 1rem;
}

.deliveryprofile-cancel-create-btns{
    padding-top: 5rem;
    width: 30rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.createdelivery-autocomplete-section{
    width: inherit !important;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.createdelivery-autocomplete-section .css-1q60rmi-MuiAutocomplete-endAdornment{
    top: calc(50% - 15px) !important;
}