
.createdelivery-profile-page{
    background-color: #ECDCCF;
    display: flex !important;
    flex-direction: row !important; 
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    padding: 3rem 2rem;
}
.createdelivery-input{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin: auto 2rem;
}

.createdelivery-input-section{
    background-color: #F2F4F8 ;
    border-radius: 10px ;
    width: 30rem !important;
}

.createdelivery-input-textfield{
    width: 30rem;
    margin: 1rem;
}

.deliveryprofile-cancel-create-btns{
    width: 30rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}