.update-profile-form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECDCCF;
}
#update-profile{
    font-size: 200%;
    font-weight: 700;
    margin: 1% auto 10% auto;
    max-width: fit-content;
    text-align: left;
}
#update-profile-box{
    padding:1% 5% 2%;
    border-radius:30px;
    box-shadow:rgb(0 0 0 / 50%) 0px 6px 12px;
}
#update-profile-btn{
    margin-top:8%;
    background-color:#304451;
    color:white;
}
.outlined-basic{
    background-color: white;
    margin: 1%;
}