#about-page-home {
  display: flex;
  flex-direction: column;
  background-color: #6f1a07;
}

#about-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5%;
  height: 40vh;
}
.about-welcome-to-the {
  font-size: 4rem !important;
  font-weight: 900 !important;
  color: white;
}
.about-welcome-furnifuture {
  font-size: 4rem !important;
  font-weight: 900 !important;
  color: #d86544;
}
#about-getstarted {
  display: flex;
}
.getstarted-title {
  font-size: 2rem;
  font-weight: 900;
}
.getstarted-buysell-button {
  background-color: #6f1a07 !important;
  color: white !important;
  height: 3rem !important;
  width: 15rem !important;
  margin: 2rem !important;
}
.getstarted-delivery-button {
  background-color: #304451 !important;
  color: white !important;
  height: 3rem !important;
  width: 15rem !important;
  margin: 2rem !important;
}
#about-buy-sell-getstarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d86544;
  color: white;
  padding: 5%;
}

#about-deliver-getstarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5094aa;
  color: white;
  padding: 5%;
}
