
.buy-page{
    background-color: #ECDCCF;
    height: max-content;
}
.buy-page-title{

    font-size: 3rem !important;
    padding: 3% 2% 2% 2rem !important;
    font-weight: 700 !important;
}
.buy-furniture-search{
    margin: auto 2rem;
    display: flex;
    flex-direction: row;
    background-color: #D4C6BA;
    border-radius: 10px;
    justify-content: center;
}

.buy-search-bar{
    border-radius: 10px !important;
    width: 50%;
    margin: 2rem 1rem ;
}

.ForwardRef-searchIconButton-17{
    display: none !important;
}

.buy-search-category{
    margin-right: 1rem !important;
    width: 15%;
    border-radius: 10px;
    margin: 2rem 0;
    background-color: white;
    padding: 0 1rem !important;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.buy-page-search-category-textfield{
   
}

.buy-search-btn{
    width: 15%;
    border-radius: 10px !important;
    margin: auto 1rem !important;
    height: 3rem;
    align-self: center;
    color:white !important;
    background-color: #D86544 !important;
}
.buy-page-items{
    height: 100vh;
    overflow-y: scroll;
    margin: 2rem 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D4C6BA;
    border-radius: 10px;
    justify-content: center;
}