
#app-bar{
    background-color: #6F1A07;
    color:white;
    text-decoration: none;
}
#toolbar-container{
    max-width: none;
}
.toolbar-btn{
    color:white;
    text-decoration: none;
    margin:auto 2% !important;
}

.toolbar-btn:hover{
    opacity: 0.6;
}