#app-bar {
  background-color: #6f1a07;
  color: white;
  text-decoration: none;
}
#toolbar-container {
  max-width: none;
}
#toolbar-furnifuture {
  font-weight: 700;
  font-size: 70%;
  color: #d86544;
}
.toolbar-btn {
  color: white;
  text-decoration: none;
  margin: 0 1rem !important;
}
#toolbar-signin {
  margin: auto 1% auto 4% !important;
  font-weight: 400;
  font-size: 80%;
  white-space: nowrap;
}
#line-between {
  border: solid white 1px;
  margin: 0.5rem 0;
}
#toolbar-signup {
  margin: auto 1% auto 0% !important;
  font-weight: 400;
  font-size: 80%;
  white-space: nowrap;
}
.toolbar-btn:hover {
  /* opacity: 0.6; */
  font-weight: 900 !important;
  font-size: 90% !important;
}

.navbar-icons:hover {
  border-bottom: solid;
}
