.buy-page{
    background-color: #ECDCCF;
    height: max-content;
}
.deliverypage-title-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.buy-page-title{

    font-size: 3rem !important;
    padding: 3% 2% 2% 2rem !important;
    font-weight: 700 !important;
}
.buy-furniture-search{
    margin: auto 2rem;
    display: flex;
    flex-direction: row;
    background-color: #D4C6BA;
    border-radius: 10px;
    justify-content: center;
}

.buy-search-bar{
    width: 50%;
    margin: 2rem 1rem ;
}
.ForwardRef-searchIconButton-17{
    display: none !important;
}
.buy-search-category{
    width: 20%;
    border-radius: 10px;
    margin: 2rem 0;
    background-color: white;
    padding: auto 1rem;
}
.buy-search-btn{
    width: 15%;
    border-radius: 10px !important;
    margin: auto 1rem !important;
    height: 3rem;
    align-self: center;
    color:white !important;
    background-color: #D86544 !important;
}
.delivery-page-items{
    margin: 2rem 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D4C6BA;
    border-radius: 10px;
    justify-content: center;
}